{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        {% for news in newsList%}
        <div class="news-container">
            <img src="data:image/jpeg;base64,{{ news.imageBase }}" class="img">
            <div class="info-container">
                <h1>{{ news.article_title }}</h1>
                <p>{{ news.article_annotation }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>